<div class="flex justify-center gap-6 text-3xl text-gray-700">
  <a href="https://github.com/luca23bledea/" target="_blank" class="hover:text-blue-500 transition">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://linkedin.com/in/luca-adam-bledea-floruta-16871b384/" target="_blank" class="hover:text-blue-500 transition">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="mailto:lucaadambledea@email.com" class="hover:text-blue-500 transition">
    <i class="fas fa-envelope"></i>
  </a>
  <a href="https://instagram.com/luca23bledea/" target="_blank" class="hover:text-pink-500 transition">
    <i class="fab fa-instagram"></i>
  </a>
</div>
